$bgColor: #260a2f; //#1b0422;
$bgSecColor: #33103f;
$navColor: #42244d;
$hiColor: #9f5eee;
$textColor: rgb(139, 108, 156);
$textSecColor: rgb(166, 128, 209);
$textHiColor: rgb(234, 216, 253);


.App{
    box-sizing: border-box;
}


body{
    background-color: $bgColor;
    color: $textColor;
}

a, a:visited{
    text-decoration: none;
    
}


.background {
    background-color: $bgSecColor;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 6px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    margin-top: 40px; 
}

.rIcon{
    font-size: 75px;
    color: $textSecColor
}

.rIcon:hover{
    color: $textHiColor;
}

.title{
    align-self: center;
    color: $textSecColor;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p{
        margin: 5px 3px 0px 3px;
        padding: 2px 3px;

        color: $textColor;
        font-size: 11px;
        border: solid $textColor;

    }
}

/////////////////////////////////////////////////////////////////
//                       Components
/////////////////////////////////////////////////////////////////
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    margin: 20px;


    h1{
        margin: 10px 0px;
        color: $textHiColor;
        font-size: 50px;
    }

    h2{ 
        margin: 25px 0px;
        color: $textHiColor;
        font-size: 45px;
    }

    a, a:visited{
        
        text-decoration: none;
        transition: 0.3s;
    }

    .sidebar{
        
        background-color: $navColor;
        position: absolute;
        overflow-x: hidden; 
        width: 0;
        height: 100vh;
        top: 0;
        right: 0;
        transition: .5s;

        .x{
            display: flex;
            justify-content: right;
            margin: 30px 30px 0px 0px;
            font-size: 50px;

            p{
                margin: 0;
                color: $textHiColor;
            }
        }

        .navLinks{
            visibility: hidden;
            display: flex;
            white-space: nowrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px;
            transition: .3s;
            opacity: 0%;
            
            
            
        }

        .linksActive{
            visibility: visible;
            transition-delay: .5s;
            transition: 1.5s;
            opacity: 100%;
        }
        
    }
    .active {
        width: 80vw;
    }
    

   

    .center{
        align-self: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    margin: 20px 0px;
    
    

    .cardImage{
        display: flex;
        justify-content: center;
        
        img {
            width: 75%;
            cursor: pointer;
        }
    }
}

.mobileCard{
    display: flex;
    flex-direction: column;

    margin: 20px;
    padding: 10px;

    h2 {
        margin: 5px;
        font-size: 30px;
    }
}

.cardModal{
    display: flex;
    flex-direction: column;
    align-items: center;

    .modalPartOne{
        display: flex;
        flex-direction: column;
        align-items: center;

        .modalImage{
            width: 75%;
        }
    }
}



/////////////////////////////////////////////////////////////////
//                       Pages
/////////////////////////////////////////////////////////////////

#about{
    margin: 20px;
    font-size: 20px;   
}

#work{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact{
    margin: 20px;
}


/////////////////////////////////////////////////////////////////
//                       Media Queries
/////////////////////////////////////////////////////////////////


@media only screen and (min-width: 650px){

    .navbar{
        flex-direction: row;
        justify-content: space-between;

        margin: 0px 20px;
        margin-top: 10px;

        .navLinks{
            display: flex;
            flex-direction: row;
        }

        .link{
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 0px 0px 0px 30px;
        }

        

        h1, a, a:visited{
            font-size: 20px;
        }
    }

    .cardModal{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: normal;

        .modalPartOne{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;

            width: 45%;
            margin: 10px;

            .modalImage{
                width: 100%;
            }
        }

        .modalPartTwo{
            display: flex;
            flex-direction: column;
            justify-content: normal;
            align-items: normal;

            width: 45%;
           
            h2{
                margin: 10px;
            }

        }

        

    
    }
       
    .modalPartThree{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        margin-top: 15px;

        .link {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a, a:visited{
            font-size: 14px;
            margin: 0px 15px;
        }
    }
}